/*INICIO Index*/
#grilla_contenedor{
    display: grid;
    /* background-color: aqua; */
    height:100vw;
    grid-template-columns: 100%;
    grid-template-rows: 180px 100px auto auto auto;
    justify-items:stretch;
    background-image:url(https://img.freepik.com/foto-gratis/north-beach-oceano-nazare-portugal_1268-14119.jpg?w=900&t=st=1668482350~exp=1668482950~hmac=ff0c12650a22f0d3cdd8ef42f9469014836e0dcc9fda570b62b6885b333f38e5) ;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment:fixed;
    width: 100%;
    /* height: 100%; */
}
/*INICIO TARJETA----------------------------------------------------------------------------------------------------------------*/
.tarjeta{
    display:inline-block;
    text-align: center;
    justify-content: center;
    align-self: center;
    height: auto;
    padding: 150px 0 30px 0;
    justify-items: center;
    margin-top: 130px;
    a{
        color: brown;
    }


}
 
.etiqueta_titulo{
    @include titulos;
    color: #5A4216;
    box-sizing: border-box; 
    margin: 0 auto;
        &:hover{
            letter-spacing: 0.5px;
        }

}

.etiqueta_subtitulo{
    @include titulos;
    
    margin: 15px auto;
    color: chocolate;
        &:hover{
            letter-spacing: 2px;
        }
}


.tarjeta .logo_etiqueta{
    display: inline-block;
    text-decoration: none;
    /* padding: 1em 2em; */
    /* margin-bottom: 10%; */
    /* margin-left: 0; */
    font-family: 'Roboto', sans-serif;
    /* width: 250px; */
    background-color: whitesmoke;
    /* margin-top: 55px; */
    border: solid whitesmoke 6px;
    border-radius: 5px;
    color: black;
    margin-top: 15px;
        &:hover{
            color:#5A4216
        }

}


/*FIN TARJETA-----------------------------------------------------------------------------------------------------------------*/
/*INCIO FAVORITOS ------------------------------------------------------------------------------------------------------------*/

.favoritos{
    padding-top: 100px;
    margin-top: 130px;
}
.favoritos_contenedor h3{
    padding-left: 100px;
}

#favoritos_titulo{
    /* float: right; */
   /* position: absolute; */
    /* padding-left: 50px; */
    text-align: center;
    display: inline-block;
    width: 400px;
    margin-right: 40px;
    color: chocolate;
    background-color:whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
    /* padding-left: 100px; */
    transition: all 1.2s ease 0.2s;
}

.favoritos_articulos_contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
}
.favoritos_articulos_item{
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    padding: 100px 0;
    margin: 0 15px;
    a{
        text-decoration: none;
        color: #3B4611;
    
    }
        h4{
            background-color: white;
            border-radius: 5px;
            border: solid white 3px;
        }

}
.favoritos_img_circular--contenedor{
display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  .favoritos_img_circular{
    width: auto;
    height: 100%;
    margin-left: -50px;
    }
}

/*FIN FAVORITOS-------------------------------------------------------------------------------------------------------------*/
/*INCIO SECCIÓN "NUEVOS"----------------------------------------------------------------------------------------------------*/
.nuevos{
    /* border: solid #5A4216 5px; */
    display: flex;
    background-image: url(https://img.freepik.com/foto-gratis/hombres-chicas-estan-surfeando_1321-1094.jpg?w=1060&t=st=1669869019~exp=1669869619~hmac=4983607f8a06afb1a0d5ff6d6193abdebf74be89589fa4f6bc1820a3995cb580);
    background-size: cover;
    background-repeat:no-repeat ;
    /* padding: 120px 0; */
    min-height: 700px;
    .nuevos_contenedor{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        padding: 50px 50px;
        margin: auto auto;
        align-content: center;
        /* border: solid #5A4216 1px; */
    }
        .nuevos_contendor--img{
            width: 300px;
            height: auto;
            /* border: solid red 5px; */
            align-self: center;
        }
            .nuevos_contendor--img img{
                align-self: center;
                border-radius: 15px;
                width: 300px;
                height: auto;
            }
        .nuevos_informacion{
            text-align: left;
            padding-left: 20px;
            align-self: center;
            background-color:beige;
            border-radius: 15px;
            padding-right: 10px;
            padding: 15px 10px 15px 15px;
        }
            p,h3,li{
                padding: 10px 0;
            }
    }

/*FIN NUEVOS----------------------------------------------------------------------------------------------------------------*/