@media screen and (max-width:1024px){
    .header_logo,.nav_lista_item a{
        font-size: 14px;
    }
    .etiqueta_subtitulo{
        margin: 0 auto;
        width: fit-content;
        max-width: 740px;
        margin-top: 30px;
    }
    .favoritos_contenedor{
        background: linear-gradient(to bottom, rgba(235,224,197,1) 45%, rgba(167,209,218,1) 100%);
        padding: 30px 0;
    }
    .favoritos_contenedor h3{
        display: flex;
        justify-content: center;
        /* padding-left: 100px; */

    }
    .favoritos_articulos_contenedor{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        margin-top: 50px;
    }
    .favoritos_articulos_item{
        /* display: flex; */
        /* flex-direction: row; */
        text-align: center;
        padding: 20px 0;
        margin: 0 15px;

    }
    .footer_ul ul li{
        margin: 0 5px;
        font-size: 9px;

    }
    .footer_contenedor{
        align-self: center;
        display: flex;
        padding-bottom: 30px;
    }

    .etiqueta_parrafo{
        font-size: 0.8rem;
        font-weight: 200px;
        max-width: 450px;
        text-align: center;
    }
    .contenedor_padre_articulo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div .contenedor_articulo{
        display:inline-block;
        padding: 0 auto;
        /* justify-self: center; */
    }
    .contenedor_articulo_img{
        display: flex;
        justify-content:center;
        margin: 0 auto;
    }
    .contenedor_articulo_texto p{
        text-align: justify;
        letter-spacing: 0.8px;
        line-height: 25px;
    }
    .sobrenosotros_contenedor{
        padding: 20px 20px;
    }
    .trayectoria_contenedor{
        padding: 30px 30px;
        .trayectoria_contenedor_img{
            padding: 40px 0;
            img{
                width: 80%;
                height: auto;
            }
        }
        .trayectoria_contenedor_texto{
            padding-top:20px;
        }
    }
    .motivos_contenedor{
        padding: 20px 20px;
        .motivos_contenedor-flex{
            padding: 30px 30px;
            .motivos_texto{
                display: flex;
                min-height: 250px;
                align-items: center;
                text-align: justify;
                padding: 0 15px;
                font-size: 17px;
                font-family: 'Roboto', serif;
                letter-spacing: 0.8px;
                line-height: 25px;
                max-width: none;
                }
                #motivos_img{
                    display: flex;
                    margin: 0 auto;
                    justify-content: center;
                    img{
                        display: flex;
                        width: 600px;
                        height: auto;
                    }
                }
        }
    } 

}
@media screen and (max-width:992px){
    section div .login_titulo{
        max-width: 561px;
    }
    div .motivos_contenedor-flex{
        #motivos_img{
            padding: 40px 0;
            img{
                width: 80%;
                height: auto;
            }
        }
    }
    .premium{
        .premium_articulo_contenedor{
            display: block;
            
            .premium_articulo_video{
                margin: 0 auto;
                width: fit-content;
            }
            .premium_articulo_texto{
                margin: 0 auto;
                max-width:  561px;
            }
        }
        .premium_titulo{
            max-width:561px ;
        }    
    } 
    div .motivos_contenedor-flex{
        display: block;
    }
    
}


@media screen and (max-width:768px){
    .login_titulo{
        max-width: 500px;
    }
    .premium{
        .premium_titulo{
            max-width: 500px;
        }
        .premium_articulo_contenedor{
            .premium_articulo_texto{
                max-width: 500px;
            }
        }
    }
    .nav{
        display: none;
    }
    .tarjeta{
        // padding-top: 200px;
        margin-top: 280px;
        height: fit-content;
        padding: 0 0 80px 0;
    }
    .etiqueta_titulo{
        font-size: 13px;
    }
    .etiqueta_subtitulo{
        font-size: 10px;
        max-width:580px;
    }
    .etiqueta_contenedor-boton{
        font: size 10px; ;
    }
    .favoritos_contenedor h3{
        padding-left: 0px;
    }

    #favoritos_titulo{
        font-size: 14px;
        text-align: center;
        justify-content: center;
        display: inline-block;
        width: 180px;
        margin: 0 auto;
    }
    .favoritos_articulos_item h4{
    background-color: white;
    border-radius: 5px;
    border: solid white 3px;
    font-size: 12px;
    }

    .favoritos_img_circular--contenedor{
    width: 160px;
    height: 160px;
    }
    .nuevos{
        display: block;
        background: linear-gradient(0deg, rgba(250,235,215,1) 12%, rgba(167,209,218,1) 43%);
        height:fit-content;
    }
    .nuevos .nuevos_contenedor{
        display: block;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        padding: 50px 50px;
        margin: auto auto;
        align-content: center;
        /* border: solid #5A4216 1px; */
    }
    .nuevos_contendor--img{
        margin: 0 auto;
        width: 300px;
        align-self: center;
    }
    .nuevos_informacion{
        padding: 15px 15px 15px 15px;
        font-size: 12px;
    }
    footer{
        // margin-top: 180px;
    }
    .footer_redes{
        margin:0 auto;
        width: 80px;

    }
    .footer_redes #instagram {
        width: 25px;
        height: 25px;

    }
    .footer_redes #twitter {
        width: 25px;
        height: 25px;

    }
    .etiqueta_parrafo{
        font-size: 0.7rem;
        font: weight 500px;
        max-width: 400px;
        text-align: center;
    }
    .trayectoria_contenedor img{
        width: 480px;
        height: auto;
    }
    #motivos_img img{
        width: 480px;
        height: auto;
    }
    div .motivos_contenedor-flex{
        #motivos_img{
            padding: 40px 0;
            img{
                width: 80%;
                height: auto;
            }
        }
    }

}
@media screen and (max-width:600px){
    .motivos_contenedor{
        .motivos_contenedor-flex{
            #motivos_img{
                max-width: none;
                width: 100%;
                img{
                    display: block;
                    width: 80%;
                }
            }
        }
    }
    .header{
        margin: 0 auto;
        padding: 40px 50px;
        // height: 80px;
    }
    .tarjeta{
        background: linear-gradient(0deg, rgba(250,235,215,1) 12%, rgba(167,209,218,1) 43%);
        padding-top: 80px;
    }
    .favoritos_contenedor{
        margin-top: 120px;
        
    }
    .etiqueta_titulo{
        font-size: 10px;
    }
    .etiqueta_subtitulo{
        font-size: 8px;
        max-width:460px;
    }
    .etiqueta_contenedor-boton{
        font-size:10px; ;
    }
    
    .favoritos_articulos_item{
        padding: 40px 0;
    }
    .footer_ul ul{
        display: inline-block;

    }
    .footer_ul ul li{
        margin: 0 3px;
        font-size: 8px;
        padding: 0 0;


    }
    footer{
        margin-top: 0;
    }
    .footer_contenedor{
        align-self: center;
        display: flex;
        /* padding-bottom: 30px; */
        margin: 0 auto;
        padding: 5px 0 5px 25px;

    }
    .footer_redes{
        width: 60px;
    }
    .etiqueta_parrafo{
        font-size: 0.8rem;
        font-weight: 500px;
        max-width: 350px;
        text-align: center;
    }
    .premium_titulo{
        max-width:400px ;
    }
    .login_titulo{
        max-width:400px ;
    }
    #video_login{
        width: 440px;
    }
    .premium_articulo_texto{
        margin: 0 auto;
        max-width:  440px;
    }
    .bi{
        font-size: 2rem;
        margin: 0 1px;
    }
}

@media screen and (max-width:480px){
    .etiqueta_titulo{
        max-width: 320px;
        font-size: 9px;
    }
    .etiqueta_subtitulo{
        max-width: 320px;
        font-size: 8px;
    }
    #grilla_contenedor{

        background-image:none;

    }
    
    .etiqueta_parrafo{
        font-size: 0.8rem;
        font: weight 500px;
        max-width: 315px;
        text-align: center;
    }
    .nuevos_contendor--img{
        display: none;
    }
    .premium_articulo_video{
        #video_login{
            width: 300px;
            height: auto;
        }
    }
}
@media screen and (max-width:320px){
    .nuevos_contendor--img{
        width: 130px;

    }
    footer{
        margin-top: 100px;
    }
}