@import "index";
@import "estilos-generales";
@import "contacto";
@import "mediaqueries";


/***************************************************INCIO LOGIN.HTML***********************************************************/
/* INICIO Log In--------------------------------------------------------------------------------------------------------------*/
.login_titulo{
    /* border: solid red 1px; */
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 700px;
    background-color: whitesmoke;
    color: #DEAD3C;
    margin-top: 30px;
}
#login{
    display: block;
    width: 10%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: whitesmoke;
    font-weight: bold;
    border-color: white;
    min-width: 300px;
    color: #DEAD3C;
    border-radius: 3px;
}
.container label{
    color: #5A4216;
}
.container_articulo{
    padding-top: 20px;
}
.container_conf{
    display: flex;
    text-align: center;
    
}
#label-recordar{
    font-size: 0.8rem;
    color: black;
}

.forgot{
    margin: 0 10px;
    align-self: center;
    color: black;
    font-size: 13px;
    font-weight: bold;

}




/* FIN Log In--------------------------------------------------------------------------------------------------------------*/

/*Premium----------------------------------------------------------------------------------------------------------------*/
.premium{
    padding-top: 80px;
}


.premium_titulo{
    /* border: solid red 1px; */
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 700px;
    background-color: whitesmoke;
    color: #DEAD3C;
}


.premium_titulo h2{ 
    color: #DEAD3C;
}


.premium_articulo_contenedor{
    padding: 10px 0 15px 0;
    margin: 40px auto;
    display: flex;
    max-width: 900px;
}

.premium_articulo_texto{
   
    background-color: antiquewhite;
    text-align: left;
    /* border: solid red 1px; */
    padding: auto 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color:brown;
}
.premium_articulo_texto p{
    font-family: 'Manrope', sans-serif;
}
/*FIN Premium----------------------------------------------------------------------------------------------------------------*/

/**************************************************FIN LOGIN.HTML*************************************************************/
/**************************************************INICIO PROPUESTAS.HTML*****************************************************/
/*inicio tarjeta-------------------------------------------------------------------------------------------------------------*/

.tarjeta_propuestas{
    padding: 50px 0;
    background-image: url(../recursos/panoramicaplaya.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    height:auto;
}
/*inicio propuestas--------------------------------------------------------------*/
.contenedor_padre_articulo{
    background: linear-gradient(to top, rgba(250,235,215,1) 9%, rgba(167,209,218,0.8522759445575105) 50%, rgba(232,226,210,1) 100%);
}

.contenedor_articulo{
    /* border: solid red 1px; */
    display: flex;
    padding: 30px 30px;
    justify-content: center;
}

.contenedor_articulo_img{
    
    width: 300px;
    height: auto;
    align-self: center;
    border-radius: 15px;
    
}

.contenedor_articulo_img img{
    align-self: center;
    border-radius: 15px;
    width: 300px;
    height: auto;
}
.contenedor_articulo_texto{
    padding: 20px 40px;
    align-self: center;
    max-width: 700px;   
}
.contenedor_articulo_texto h2{
    text-align: center;
}
#iinvertido{
    order: 2;
}
#tinvertido{
    order: 1;
}
.contenedor_articulo_texto p{
    padding-top: 25px;
}


/**************************************************FIN PROPUESTAS.HTML*****************************************************/
/**************************************************INICIO acercade.html****************************************************/
#bg_acercade{
    background: linear-gradient(to top, rgba(250,235,215,1) 9%, rgba(167,209,218,0.8522759445575105) 50%, rgba(232,226,210,1) 100%); 
}
.sobrenosotros_contenedor{
    /* border: solid red 2px; */
    max-width: 1400px;
    margin: 0 auto;
    /* border: solid red 1px; */
}
.sobrenosotros_titulos{
    /* border: solid greenyellow 2px; */
    text-align: center;
    padding: 25px;

}
.sobrenosotros_titulos h1{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color:#5A4216;
}
.sobrenosotros_titulos h2{
    /* padding-bottom: 25px; */
    font-size: 20px;
    padding-top: 25px;
    color: darkgoldenrod;
   
}
.sobrenosotros_texto{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 0 15px;
    font-family: 'Roboto', serif;
    line-height: 25px;
    min-height: 150px;
    font-size: 20px;
    letter-spacing: 1px; 
}
.trayectoria_contenedor_texto{
   @extend .sobrenosotros_texto;
    min-height: 250px;  
    font-size: 17px;  
    letter-spacing: 0.8px;   
}

.trayectoria_contenedor{
    max-width: 1400px;
    margin: 0 auto;
    /* border: solid red 1px; */
}
.trayectoria_contenedor_img{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.trayectoria_contenedor_img img{
    width: 800px;
    height: auto;
}


.motivos_contenedor{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
}
.motivos_contenedor-flex{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.motivos_texto{
    
    max-width: 800px;
    display: flex;
    min-height: 250px;
    align-items: stretch;
    text-align: justify;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Roboto', serif;
    letter-spacing: 0.8px;
    line-height: 25px;
}

/**************************************************FIN acercade.html****************************************************/


/*MEDIA QUERIES--------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------*/
